.date-time {
    font-size: 14px; /* Tamanho da fonte */
    color: #555; /* Cor do texto */
    margin-top: 10px; /* Margem acima do relógio */
    margin-left: 5px;
    text-align: left; /* Alinhamento à esquerda */
    
  }